#results, #result-javascript, #result-python, #result-csharp {
  display: none;
}

.btn {
  margin-top: 20px;
}

#questions {
  border: thin solid;
  border-radius: 3px;
  padding: 10px;
}
#question1 {
  width: auto;
}

#results {
  border: thin solid;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
}